@model int
@*Vì edit cần có tham số id để lấy object về cập nhật nên phải mapping id vào tham số truyền đi*@

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
    </div>
</div>
